In [ ]:
!pip install -q wordcloud
import wordcloud

import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger') 

import pandas as pd
import matplotlib.pyplot as plt
import io
import unicodedata
import numpy as np
import re
import string

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# NLP libraries to clean the text data
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re

# Vectorization technique TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer

# For Splitting the dataset
from sklearn.model_selection import train_test_split

# Model libraries
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

#Accuracy ,Confusion matrix,  Precision , Recall , F1 score measuring library
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix

In [ ]:
data = pd.read_csv("/content/data.csv")
data

                                                   URLs  ... Label
0     http://www.bbc.com/news/world-us-canada-414191...  ...     1
1     https://www.reuters.com/article/us-filmfestiva...  ...     1
2     https://www.nytimes.com/2017/10/09/us/politics...  ...     1
3     https://www.reuters.com/article/us-mexico-oil-...  ...     1
4     http://www.cnn.com/videos/cnnmoney/2017/10/08/...  ...     1
...                                                 ...  ...   ...
4004  http://beforeitsnews.com/sports/2017/09/trends...  ...     0
4005  http://beforeitsnews.com/u-s-politics/2017/10/...  ...     0
4006  https://www.activistpost.com/2017/09/ron-paul-...  ...     0
4007  https://www.reuters.com/article/us-china-pharm...  ...     1
4008  http://beforeitsnews.com/u-s-politics/2017/10/...  ...     0

[4009 rows x 4 columns]

In [ ]:
data.shape

(4009, 4)

In [ ]:
data.head()

                                                URLs  ... Label
0  http://www.bbc.com/news/world-us-canada-414191...  ...     1
1  https://www.reuters.com/article/us-filmfestiva...  ...     1
2  https://www.nytimes.com/2017/10/09/us/politics...  ...     1
3  https://www.reuters.com/article/us-mexico-oil-...  ...     1
4  http://www.cnn.com/videos/cnnmoney/2017/10/08/...  ...     1

[5 rows x 4 columns]

In [ ]:
data.columns

Index(['URLs', 'Headline', 'Body', 'Label'], dtype='object')

In [ ]:
data.isnull().sum()

URLs         0
Headline     0
Body        21
Label        0
dtype: int64

#DATA PREPROCESSING

#INCLUDES:
#1. Removing the Null values
#2. Adding a new field
#3. Drop features that are not needed
#4. Text Processing

In [ ]:
df = data.copy()

In [ ]:
#1. Removing the Null Values

df['Body'] = df['Body'].fillna('')

In [ ]:
df.isnull().sum()

URLs        0
Headline    0
Body        0
Label       0
dtype: int64

In [ ]:
#2. Adding a new column

df['News'] = df['Headline']+df['Body']

In [ ]:
df.head()

                                                URLs  ...                                               News
0  http://www.bbc.com/news/world-us-canada-414191...  ...  Four ways Bob Corker skewered Donald TrumpImag...
1  https://www.reuters.com/article/us-filmfestiva...  ...  Linklater's war veteran comedy speaks to moder...
2  https://www.nytimes.com/2017/10/09/us/politics...  ...  Trump’s Fight With Corker Jeopardizes His Legi...
3  https://www.reuters.com/article/us-mexico-oil-...  ...  Egypt's Cheiron wins tie-up with Pemex for Mex...
4  http://www.cnn.com/videos/cnnmoney/2017/10/08/...  ...  Jason Aldean opens 'SNL' with Vegas tributeCou...

[5 rows x 5 columns]

In [ ]:
df.columns

Index(['URLs', 'Headline', 'Body', 'Label', 'News'], dtype='object')

In [ ]:
#3. Drop features that are not needed

features_dropped = ['URLs','Headline','Body']
df = df.drop(features_dropped, axis =1)

In [ ]:
df.columns

Index(['Label', 'News'], dtype='object')

In [ ]:
#Text Processing
#Remove symbols(',','-',...etc) #Remove stop words #Stemming

In [ ]:
ps = PorterStemmer()
def wordopt(text):
    text = re.sub('[^a-zA-Z]', ' ',text)
    text = text.lower()
    text = text.split()
    text = [ps.stem(word) for word in text if not word in stopwords.words('english')]
    text = ' '.join(text)
    return text

In [ ]:
df['News'] = df['News'].apply(wordopt)

In [ ]:
df.head()

   Label                                               News
0      1  four way bob corker skewer donald trumpimag co...
1      1  linklat war veteran comedi speak modern americ...
2      1  trump fight corker jeopard legisl agendath feu...
3      1  egypt cheiron win tie pemex mexican onshor oil...
4      1  jason aldean open snl vega tributecountri sing...

In [ ]:
X = df['News']
Y = df['Label']

#Split the data into training and test set
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.25)

In [ ]:
x_train

1722    lose edgelos edg reader think stori fact add t...
1346    see us presid differ lightvideo new exhibit wa...
3920    folk choke tampa bay buc kicker miss three fie...
3124    import stori box score snell domin gonzalez st...
2899    happen hbd erni honest eddi rex mauri big red ...
                              ...
1674    dove ad show black woman miracul transform whi...
3918    fals flag vega shoot jon rappoport fals flag a...
3820    tr pnc park era red thump buc x playoff cole b...
1175    uk supermarket becom world first offer cashles...
1757    career women technolog compani global challeng...
Name: News, Length: 3006, dtype: object

In [ ]:
x_test

2623    hogan gidley join white hous cnn hogan gidley ...
2859    presid first ladi visit hero la vega shoot liv...
3373    christoph columbu realli deserv holiday embatt...
1100    trump make harder immigr start businessesforei...
2121    joe biden write foreword transgend activist me...
                              ...
3902    offici tri nail la vega timelineauthor still t...
548     ten peopl charg louisiana state univers haze d...
327     australia success reform gun law us embattl ph...
2601    post season bad day shop ws playoffsan embattl...
1375    neo nazi denni mothersbaugh proudli wear god g...
Name: News, Length: 1003, dtype: object

In [ ]:
y_train

1722    0
1346    1
3920    0
3124    0
2899    0
       ..
1674    0
3918    0
3820    0
1175    0
1757    1
Name: Label, Length: 3006, dtype: int64

In [ ]:
y_test

2623    1
2859    0
3373    0
1100    1
2121    1
       ..
3902    1
548     1
327     0
2601    0
1375    0
Name: Label, Length: 1003, dtype: int64

In [ ]:
#Vectorization : This is used to handle our text data, by converting it into vectors

In [ ]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

In [ ]:
#Model Fitting

#I will be fitting my data onto 3 classifications models

#RandomForestClassifier SVM Logistic Regression The best one amongst the 3 will be used further

In [ ]:
RFC_model = RandomForestClassifier(random_state=0)

#Fitting training set to the model
RFC_model.fit(xv_train, y_train)

#Predicting the test set results based on the model
rfc_y_pred = RFC_model.predict(xv_test)

#Calculate the accuracy score of this model
score = accuracy_score(y_test,rfc_y_pred)
c_matrix = confusion_matrix(y_test,rfc_y_pred)
pscore = precision_score(y_test,rfc_y_pred)
rscore = recall_score(y_test,rfc_y_pred)
fscore = f1_score(y_test,rfc_y_pred)
print('Accuracy of RFC model is ', score)
print('Confusion matrix of RFC model is ', c_matrix)
print('precision_score of RFC model is ', pscore)
print('recall_score of RFC model is ', rscore)
print('f1_score of RFC model is ', fscore)

Accuracy of RFC model is  0.963110667996012
Confusion matrix of RFC model is  [[509  34]
 [  3 457]]
precision_score of RFC model is  0.9307535641547862
recall_score of RFC model is  0.9934782608695653
f1_score of RFC model is  0.9610935856992641

In [ ]:
svm_model = SVC(kernel='linear')

#Fitting training set to the model
svm_model.fit(xv_train,y_train)

#Predicting the test set results based on the model
svm_y_pred = svm_model.predict(xv_test)

#Calculate the accuracy score of this model
score = accuracy_score(y_test,svm_y_pred)
c_matrix = confusion_matrix(y_test,svm_y_pred)
pscore = precision_score(y_test,svm_y_pred)
rscore = recall_score(y_test,svm_y_pred)
fscore = f1_score(y_test,svm_y_pred)
print('Accuracy of SVM model is ', score)
print('Confusion matrix of SVM model is ', c_matrix)
print('precision_score of SVM model is ', pscore)
print('recall_score of SVM model is ', rscore)
print('f1_score of SVM model is ', fscore)

Accuracy of SVM model is  0.9740777666999003
Confusion matrix of SVM model is  [[524  19]
 [  7 453]]
precision_score of SVM model is  0.9597457627118644
recall_score of SVM model is  0.9847826086956522
f1_score of SVM model is  0.9721030042918455

In [ ]:
LR_model = LogisticRegression()

#Fitting training set to the model
LR_model.fit(xv_train,y_train)

#Predicting the test set results based on the model
lr_y_pred = LR_model.predict(xv_test)

#Calculate the accurracy of this model
score = accuracy_score(y_test,lr_y_pred)
c_matrix = confusion_matrix(y_test,lr_y_pred)
pscore = precision_score(y_test,lr_y_pred)
rscore = recall_score(y_test,lr_y_pred)
fscore = f1_score(y_test,lr_y_pred)
print('Accuracy of LR model is ', score)
print('Confusion matrix of LR model is ', c_matrix)
print('precision_score of LR model is ', pscore)
print('recall_score of LR model is ', rscore)
print('f1_score of LR model is ', fscore)

Accuracy of LR model is  0.967098703888335
Confusion matrix of LR model is  [[517  26]
 [  7 453]]
precision_score of LR model is  0.9457202505219207
recall_score of LR model is  0.9847826086956522
f1_score of LR model is  0.9648562300319489

In [ ]:
DT_model = DecisionTreeClassifier()

#Fitting training set to the model
DT_model.fit(xv_train, y_train)

#Predicting the test set results based on the model
DT_y_pred = DT_model.predict(xv_test)

#Calculate the accurracy ,precision , recall, f1 score of this model
score = accuracy_score(y_test,DT_y_pred)
c_matrix = confusion_matrix(y_test,DT_y_pred)
pscore = precision_score(y_test,DT_y_pred)
rscore = recall_score(y_test,DT_y_pred)
fscore = f1_score(y_test,DT_y_pred)

print('Accuracy of Decision Tree model is ', score)
print('Confusion matrix of Decision Tree model is ', c_matrix)
print('precision_score of Decision Tree model is ', pscore)
print('recall_score of Decision Tree model is ', rscore)
print('f1_score of Decision Tree model is ', fscore)

Accuracy of Decision Tree model is  0.9461615154536391
Confusion matrix of Decision Tree model is  [[523  20]
 [ 34 426]]
precision_score of Decision Tree model is  0.9551569506726457
recall_score of Decision Tree model is  0.9260869565217391
f1_score of Decision Tree model is  0.9403973509933774

In [ ]:
# As SVM is able to provide best results - SVM will be used to check the news liabilit

def fake_news_det(news):
    input_data = {"text":[news]}
    new_def_test = pd.DataFrame(input_data)
    new_def_test["text"] = new_def_test["text"].apply(wordopt) 
    new_x_test = new_def_test["text"]
    #print(new_x_test)
    vectorized_input_data = vectorization.transform(new_x_test)
    prediction = svm_model.predict(vectorized_input_data)
    
    if prediction == 1:
        print("Not a Fake News")
    else:
        print("Fake News")

In [ ]:
fake_news_det("JetNation FanDuel League; Week 4 of readers think this story is Fact. Add your two cents.(Before Its News)Our FanDuel league is back again this week. Here are the details:$900 in total prize money. $250 to the winner. $10 to enter.Remember this is a one week league, pick your lineup against the salary cap and next week if you want to play again you can pick a completely different lineup if you want.Click this link to enter — http://fanduel.com/JetNation You can discuss this with other NY Jets fans on the Jet Nation message board. Or visit of on Facebook.Source: http://www.jetnation.com/2017/09/27/jetnation-fanduel-league-week-4/")

Fake News

In [ ]:
fake_news_det("""The second Covid-19 wave in India is now on the "downswing," the Centre said on Thursday, highlighting that the current number of active cases is still "very high" and advised states and Union territories (UTs) to not let down their guards.""")

Not a Fake News

In [ ]:
fake_news_det("""North Korea's Other Threat: Why EMP Becomes An Extinction Level Event""")

Fake News